<!DOCTYPE html>
<html>
    <head>
        <title><%= exam.title %> - FBEye</title>
        <% include ../../common/head %>
    </head>
    <body>
<% include ../../common/sidebar %>
<div class="container clearfix">
    <div class="mt-3"></div>
    <h3 class="float-left" style="display: inline;">시험 감독 - <%= exam.title %></h3>
    <a href="/exams" class="btn btn-light float-right">↩ 뒤로</a>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- 참여자 목록 -->
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">📃 참여자 목록</div>
                <ul class="list-group list-group-flush" id="user-list">
                    <% for (let i = 0; i < users.length; ++i) { %>
                        <a href="#" class="select-user" id="<%= users[i].accessCode %>"><li class="list-group-item list-group-item-danger">👩🏻 <%= users[i].name %> (<%= users[i].email %>)</li></a>
                    <% } %>
                </ul>
            </div>
        </div>
        <!-- 메인(참여자 영상) -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">📺 참여자 영상</div>
                <div class="card-body">
                    <img src="/images/eye-default.png" id="image-eye" alt="eye image" style="width: 100%;">
                    <img src="/images/screen-default.png" id="image-screen" alt="screen image" style="width: 100%;">
                </div>
            </div>
        </div>
        <!-- 채팅 -->
        <div class="col-md-3">
            <div class="card mb-3">
                <div class="card-header" style="background-color: skyblue;">💬 채팅</div>
                <div>
                    <div class="card" id="card-chatlog">
                        <!-- 채팅 로그 카드 -->
                    </div>
                    <form id="chat">
                        <div class="input-group">
                            <input type="text" name="message" class="form-control" placeholder="메시지 입력" aria-label="메시지 입력" aria-describedby="button-submit">
                            <div class="input-group-append">
                                <button class="btn btn-warning" type="submit" id="button-submit">✈ 전송</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- 부정행위 로그 -->
            <div class="card" style="height: 10em;">
                <div class="card-header">📃 부정 행위 로그</div>
                <div class="card-body" id="card-cheatinglog">
                    <!-- 부정행위가 발생할 때마다 p 추가 -->
                </div>
            </div>
        </div>
      </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/supervise.js"></script>
    </body>
</html>
